/* Global CSS Variables */

:root {
  --primary: #e887e3;
  --secondary: #7b00ff;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --bg-color: #f3f6ff6d;
  --card-bg: #ffffff6f;
  --primary-dark: #d36dcf;  
}

